
<div>
  <h1> Got the chosen restaurant </h1>
  <h3> restaurant name: <%= "#{@restaurant["name"]}" %> </h3>
  <%= image_tag "#{@restaurant["image_url"]}", :id => "image" %>
  <h3> Phone Number: <%= "#{@restaurant["phone"]}" %> </h3>
  <h3> URL: <%= "#{@restaurant["url"]}" %> </h3>

</div>
